
body, td, th {
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 14px;
  background-color: #F0E0D6;
  color : #800000;
}
div.header {
  padding: 10px 5px;
  display : block;  
}
div.boardname
{
  text-align: center;
  font-size: xx-large;
}
.postMessage {
  word-wrap:break-word;
  display: block;
}
td{max-width:800px;}
img {
  float : left;
  padding: 0px 10px;
  border : medium none;
  padding 4px;
}
div.op {
  display: inline;
}
div.opContainer {
  display: inline;
}
.post_title {
  color: red;
  font-weight:bold;
}
.poster_name {
  color: green;
  font-weight:bold;
}
div.sideArrows {
  float : left;
  margin-right: 2px;
  margin-top: 0px;
  margin-left: 2px;
}
div.post {
  border-width : 1px;
  border-style: dashed none dashed none;
  background-color: #FFFFEE;
  padding: 10px 5px;
  display : block;
  margin : 4px 0px;
  overflow : hidden;
}
div.thread {
  border-width : 1px;
  border-style: dashed none dashed none;
  background-color: #FFFFEE;
  padding: 10px 5px;
  display : block;
  margin : 4px 0px;
  overflow : hidden;
}
div.reply {
  background-color: #F0E0D6;
  border-style: none;
  display: table;
  padding : 2px;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

