<!DOCTYPE html>
<html>
<head>
{% autoescape off %}
<title>{{ board.name }}</title>
{% load staticfiles %}<link rel="stylesheet" href="{% static "yotsubanew.css" %}" type="text/css" />
</head>
<body>
<h1 class="boardname">{{ board.name }}</h1>
  <div name="top_div">
  </div>
  <hr/>
    {% for thread in threads %}
<div class="postContainer opContainer">
  No.<a href="{{ thread.number }}">{{ thread.number }}</a><br>
  <span class='subject'>{{ thread.title }}</span> <span class='name'>{{ thread.poster }}</span><br>
  <blockquote class="postMessage">{{ thread.text }}</blockquote>
</div>
  <hr/>
    {% endfor %}
</body>
{% endautoescape %}
