<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
{% autoescape off %}
<title>{{ board.name }}</title>
<link rel="stylesheet" href="{% static "archive.css" %}" type="text/css" />
</head>
<body>
<div class="header">
<div class="boardname">{{ board.name }}</div>
</div>
    {% for thread in threads %}
<div class='thread'>
<div class="postContainer opContainer">
<div class='threadHeader'>
Thread No.<span class='post_number'><a href="{{ thread.number }}">{{ thread.number }}</a></span> Subject: <span class='post_title'>{{ thread.title }}</span> Posted by <span class='poster_name'>{{ thread.poster }}</span> on <span class='post_date'>{{ thread.date|date:"D, d M Y H:i:s" }}</span>
</div><!--end thread header -->
{%if thread.image and thread.thumbnail %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<div class='image_link'>
Image：<a href="{{ STATIC_PREFIX }}{{ board.name }}/images/{{ thread.image }}" target="_blank">{{ thread.image }}</a><br>
</div>
<span class='thumbnail_frame'>
  <a href="{{ STATIC_PREFIX }}{{ board.name }}/images/{{ thread.image }}" target="_blank"><img src="{{ STATIC_PREFIX }}{{ board.name }}/thumbnails/{{ thread.thumbnail }}" alt="thumbnail" /></a>
</span><!--end thumbnail frame-->
{%else%}
[no image available ]
{% endif %}
<div class='op_text'>
  {{ thread.text }}
</div>
</div>
{% for post in thread.responses %}
<div class="postContainer replyContainer">
<div class='reply_arrows css-vertical-text'>{{ forloop.counter }}.</div>
<div class="post reply">
  <div class='reply_header'>
      <span class='post_title'>{{ post.title }}</span> Name <span class='poster_name'>{{ post.poster }}</span> No.<span class='post_number'>{{ post.number }}</span> <span class='post_date'>{{ post.date|date:"D, d M Y H:i:s" }}</span>
  </div>
  {% if post.thumbnail and post.image %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
  <a href="{{ STATIC_PREFIX }}{{ board.name }}/images/{{ post.image }}" target="_blank"><img src="{{ STATIC_PREFIX }}{{ board.name }}/thumbnails/{{ post.thumbnail }}" alt="thumbnail" /></a>
  {% endif %}
        <blockquote class="postMessage">{{ post.text }}</blockquote>
  </div>
</div>
    {% endfor %}
  </table>
</div>
 {% endfor %}

<!-- pagination -->
<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}.
        </span>
        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</body>
{% endautoescape %}
