<!DOCTYPE html>
<html>
<head>
{% autoescape off %}
<title id="channel_name" class="boardTitle">{{ board.name }}</title>
{% load staticfiles %}<link rel="stylesheet" href="{% static "archive.css" %}" type="text/css" />
</head>
<body>
<div class="header">
<div class="boardname"><a href="/{{ board.name }}/">{{ board.name }}</a></div>
</div>
<div class='thread'>
<div class="postContainer opContainer">
{%if thread.image and thread.thumbnail %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
画像ファイル名：<a href="{{ STATIC_PREFIX }}{{ board.name }}/images/{{ thread.image }}" target="_blank">{{ thread.image }}</a><br>
  <a href="{{ STATIC_PREFIX }}{{ board.name }}/images/{{ thread.image }}" target="_blank"><img src="{{ STATIC_PREFIX }}{{ board.name }}/thumbnails/{{ thread.thumbnail }}" alt="thumbnail" /></a>No.{{ thread.number }} <span class='subject'>{{ thread.title }}</span> <span class='name'>{{ thread.poster }}</span><br>
{%else%}
[no image available ]
{% endif %}
  <blockquote class="postMessage">{{ thread.text }}</blockquote>
</div>
{% for post in posts %}
<div class="postContainer replyContainer">
<div class="sideArrows">…</div>
<div class="post reply">
      <td class='text_block'><span class='post_title'>{{ post.title }}</span> Name <span class='poster_name'>{{ post.poster }}</span> No.{{ post.number }}<br/>
  {% if post.thumbnail and post.image %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
  <a href="{{ STATIC_PREFIX }}{{ board.name }}/images/{{ post.image }}" target="_blank"><img src="{{ STATIC_PREFIX }}{{ board.name }}/thumbnails/{{ post.thumbnail }}" alt="thumbnail" /></a>
  {% endif %}
        <blockquote class="postMessage">{{ post.text }}</blockquote>
  </div>
</div>
    {% endfor %}
  </table>
</div>
</body>
{% endautoescape %}
