<!DOCTYPE html>
<html>
<head>
{% autoescape off %}
<title id="channel_name" class="boardTitle">{{ board.name }}</title>
{% load staticfiles %}<link rel="stylesheet" href="{% static "yotsubanew.css" %}" type="text/css" />
</head>
<body>
<a href="/{{ board.name }}/"><h1 class="boardname">{{ board.name }}</h1></a>
  <div name="top_div">
  </div>
<div class='thread'>
<hr/>
<div class="postContainer opContainer">
No.{{ thread.number }}<br>
  <span class='subject'>{{ thread.title }}</span> <span class='name'>{{ thread.poster }}</span><br>
  <blockquote class="postMessage">{{ thread.text }}</blockquote>
</div>
  {% for post in posts %}
</div class="postContainer replyContainer">
  <div class="sideArrows">…</div>
  <div class="post reply">
      <td class='text_block'><span class='post_title'>{{ post.title }}</span> Name <span class='poster_name'>{{ post.poster }}</span> No.{{ post.number }}<br/>
        <blockquote class="postMessage">{{ post.text }}</blockquote>
  </div>
</div>
    {% endfor %}
  </table>
</div>
</body>
{% endautoescape %}
